* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #edeef0;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.page {
  display: grid;
  grid-template-areas:
    "sidebar content";
  grid-template-columns: 2fr 10fr;

  margin: 48px auto 0;
  padding-top: 15px;

  width: 960px;

  background-color: #edeef0;
}
